@inherits LayoutComponentBase

<PageTitle>AioCore.Web</PageTitle>

<Header></Header>
<Breadcrumb/>
<div class="main">
    <div class="main-container">
        
    </div>
    <div class="right-container">
        
    </div>
</div>