@inherits LayoutComponentBase

<PageTitle>AioCore.Mobile.Web</PageTitle>

<MobileHeader></MobileHeader>
<MobileTopBar></MobileTopBar>
<section class="block-wrapper">
    <div class="container">
        <section id="content">
            <div class="wrapper homepage" id="main-wrapper">
                @Body
            </div>
        </section>
    </div>
</section>
<MobileNavigation></MobileNavigation>