@inherits LayoutComponentBase

<PageTitle>AioCore.Mobile.Web</PageTitle>

<MobileHeader></MobileHeader>
<section class="block-wrapper">
    <div class="container">
        <section id="content">
            <div class="wrapper homepage" id="main-wrapper">
                <ul class="news-stream">
                    <div class="main-block home-box-event">
                        <div class="box-event-big">
                            <div class="item" data-newsid="20220928104417256" data-icontype="16">
                                <h3>
                                    <a title="Tuyển tập &quot;Trời xanh của mỗi người&quot;: Khi chất thi sĩ của Xuân Quỳnh đặt cạnh bản năng người mẹ" class="title" href="/tuyen-tap-troi-xanh-cua-moi-nguoi-khi-chat-thi-si-cua-xuan-quynh-dat-canh-ban-nang-nguoi-me-20220928104417256.htm">Tuyển tập "Trời xanh của mỗi người": Khi chất thi sĩ của Xuân Quỳnh đặt cạnh bản năng người mẹ</a>
                                </h3>
                                <div class="box-img">
                                    <a class="img" title="Tuyển tập &quot;Trời xanh của mỗi người&quot;: Khi chất thi sĩ của Xuân Quỳnh đặt cạnh bản năng người mẹ" href="/tuyen-tap-troi-xanh-cua-moi-nguoi-khi-chat-thi-si-cua-xuan-quynh-dat-canh-ban-nang-nguoi-me-20220928104417256.htm">
                                        <img src="https://danviet.mediacdn.vn/zoom/305_168/296231569849192448/2022/9/28/anh-chup-man-hinh-2022-09-28-luc-10-11-06-1664335906359108018894-0-0-1250-2000-crop-1664335920535206189866.png" alt="Tuyển tập &quot;Trời xanh của mỗi người&quot;: Khi chất thi sĩ của Xuân Quỳnh đặt cạnh bản năng người mẹ">
                                    </a>
                                    <div class="box-title">
                                        <div class="catetime">
                                            <span class="cate">
                                                <a href="/van-hoa-giai-tri.htm" title="Văn hóa - Giải trí">Văn hóa - Giải trí</a>
                                            </span>
                                            <span class="time need-get-timeago" title="2022-09-29T07:05:00"></span>
                                        </div>
                                        <div class="sapo">Nhân kỷ niệm 80 năm ngày sinh nhà thơ Xuân Quỳnh (6/10/1942- 6/10/2022), nhận ủy thác từ gia đình tác giả, Nhà xuất bản Kim Đồng ra mắt tuyển tập thơ văn "Trời xanh của mỗi người" gồm những tác phẩm đặc sắc nhất viết cho thiếu nhi của Xuân Quỳnh. </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="box-event-small">
                            <li class="item" data-newsid="20220928125335952" data-icontype="16">
                                <h3>
                                    <a title="Lần đầu tiên giọng nói của Xuân Quỳnh được công bố trong đêm thơ – nhạc – kịch &quot;Hoa cúc xanh&quot; " class="title" href="/lan-dau-tien-giong-noi-cua-xuan-quynh-duoc-cong-bo-trong-dem-tho-nhac-kich-hoa-cuc-xanh-20220928125335952.htm">Lần đầu tiên giọng nói của Xuân Quỳnh được công bố trong đêm thơ – nhạc – kịch "Hoa cúc xanh" </a>
                                </h3>
                                <div class="catetime">
                                    <span class="time need-get-timeago" title="2022-09-28T13:29:00"></span>
                                </div>
                                <div class="sapo">Sáng nay (28/9) tại Hà Nội, Báo Nông thôn Ngày nay/Điện tử Dân Việt cùng gia đình thi sĩ Xuân Quỳnh và Lưu Quang Vũ đã có buổi họp báo chính thức về đêm thơ - nhạc - kịch "Hoa cúc xanh" để kỷ niệm sinh nhật lần thứ 80 của nhà thơ Xuân Quỳnh.</div>
                            </li>
                            <li class="item" data-newsid="20220928125335952" data-icontype="16">
                                <h3>
                                    <a title="Lần đầu tiên giọng nói của Xuân Quỳnh được công bố trong đêm thơ – nhạc – kịch &quot;Hoa cúc xanh&quot; " class="title" href="/lan-dau-tien-giong-noi-cua-xuan-quynh-duoc-cong-bo-trong-dem-tho-nhac-kich-hoa-cuc-xanh-20220928125335952.htm">Lần đầu tiên giọng nói của Xuân Quỳnh được công bố trong đêm thơ – nhạc – kịch "Hoa cúc xanh" </a>
                                </h3>
                                <div class="catetime">
                                    <span class="time need-get-timeago" title="2022-09-28T13:29:00"></span>
                                </div>
                                <div class="sapo">Sáng nay (28/9) tại Hà Nội, Báo Nông thôn Ngày nay/Điện tử Dân Việt cùng gia đình thi sĩ Xuân Quỳnh và Lưu Quang Vũ đã có buổi họp báo chính thức về đêm thơ - nhạc - kịch "Hoa cúc xanh" để kỷ niệm sinh nhật lần thứ 80 của nhà thơ Xuân Quỳnh.</div>
                            </li>
                        </ul>
                    </div>
                </ul>
                <div class="highlight">
                    <ul class="highlight-list">
                        <li data-newsid="20220929150947136" data-icontype="1">
                            <div class="left">
                                <h3 class="title">
                                    <a href="/diem-mat-10-diem-nong-tai-ha-noi-bi-kiem-tra-cong-tac-phong-chay-chua-chay-va-cuu-nan-cuu-ho-20220929150947136.htm" title="Điểm mặt 10 &quot;điểm nóng&quot; tại Hà Nội bị kiểm tra công tác phòng cháy chữa cháy và cứu nạn cứu hộ">Điểm mặt 10 "điểm nóng" tại Hà Nội bị kiểm tra công tác phòng cháy chữa cháy và cứu nạn cứu hộ</a>
                                </h3>
                                <div class="info">
                                    <a href="/anh.htm">Ảnh</a>
                                    <span class="time pub-date loaded" title="9/29/2022 3:34:00 PM">1 giờ trước</span>
                                </div>
                            </div>
                            <a href="/diem-mat-10-diem-nong-tai-ha-noi-bi-kiem-tra-cong-tac-phong-chay-chua-chay-va-cuu-nan-cuu-ho-20220929150947136.htm" title="Điểm mặt 10 &quot;điểm nóng&quot; tại Hà Nội bị kiểm tra công tác phòng cháy chữa cháy và cứu nạn cứu hộ" class="right img">
                                <img src="https://danviet.mediacdn.vn/zoom/80_80/296231569849192448/2022/9/29/10-16644373701451791571123-83-0-1333-2000-crop-1664437468629431439358.jpg" alt="Điểm mặt 10 &quot;điểm nóng&quot; tại Hà Nội bị kiểm tra công tác phòng cháy chữa cháy và cứu nạn cứu hộ">

                            </a>
                        </li>
                        <li data-newsid="20220929155917689" data-icontype="16">
                            <div class="left">
                                <h3 class="title">
                                    <a href="/vu-gui-con-chua-benh-nhan-ve-hu-tro-cot-ong-quang-tung-de-nghi-boi-thuong-5-ty-dong-20220929155917689.htm" title="Vụ gửi con chữa bệnh, nhận về hũ tro cốt: Ông Quang từng đề nghị bồi thường 5 tỷ đồng">Vụ gửi con chữa bệnh, nhận về hũ tro cốt: Ông Quang từng đề nghị bồi thường 5 tỷ đồng</a>
                                </h3>
                                <div class="info">
                                    <a href="/phap-luat.htm">Pháp luật</a>
                                    <span class="time pub-date loaded" title="9/29/2022 4:11:00 PM">31 phút trước</span>
                                </div>
                            </div>
                            <a href="/vu-gui-con-chua-benh-nhan-ve-hu-tro-cot-ong-quang-tung-de-nghi-boi-thuong-5-ty-dong-20220929155917689.htm" title="Vụ gửi con chữa bệnh, nhận về hũ tro cốt: Ông Quang từng đề nghị bồi thường 5 tỷ đồng" class="right img">
                                <img src="https://danviet.mediacdn.vn/zoom/80_80/296231569849192448/2022/9/29/vu-gui-con-chua-benh-nhan-ve-hu-tro-cot-16629601777821723224283-0-87-293-556-crop-1664441463712511138646.jpg" alt="Vụ gửi con chữa bệnh, nhận về hũ tro cốt: Ông Quang từng đề nghị bồi thường 5 tỷ đồng">

                            </a>
                        </li>
                        <li data-newsid="20220929094220747" data-icontype="16">
                            <div class="left">
                                <h3 class="title">
                                    <a href="/ha-tinh-loc-xoay-nhieu-noi-nguy-co-phat-sinh-nhieu-diem-sat-lo-doc-quoc-lo-20220929094220747.htm" title="Hà Tĩnh: Lốc xoáy gây thiệt hại nhiều nơi, nguy cơ phát sinh nhiều điểm sạt lở dọc quốc lộ">Hà Tĩnh: Lốc xoáy gây thiệt hại nhiều nơi, nguy cơ phát sinh nhiều điểm sạt lở dọc quốc lộ</a>
                                </h3>
                                <div class="info">
                                    <a href="/tin-tuc.htm">Tin tức</a>
                                    <span class="time pub-date loaded" title="9/29/2022 2:33:00 PM">2 giờ trước</span>
                                </div>
                            </div>
                            <a href="/ha-tinh-loc-xoay-nhieu-noi-nguy-co-phat-sinh-nhieu-diem-sat-lo-doc-quoc-lo-20220929094220747.htm" title="Hà Tĩnh: Lốc xoáy gây thiệt hại nhiều nơi, nguy cơ phát sinh nhiều điểm sạt lở dọc quốc lộ" class="right img">
                                <img src="https://danviet.mediacdn.vn/zoom/80_80/296231569849192448/2022/9/29/edit-mua-lu-ha-tinh-16644361127041011547699-0-0-491-786-crop-1664436339016939038532.jpeg" alt="Hà Tĩnh: Lốc xoáy gây thiệt hại nhiều nơi, nguy cơ phát sinh nhiều điểm sạt lở dọc quốc lộ">

                            </a>
                        </li>
                        <li data-newsid="20220929142149098" data-icontype="16">
                            <div class="left">
                                <h3 class="title">
                                    <a href="/benh-vien-tuyen-tinh-phau-thuat-noi-soi-va-lo-thong-lien-nhi-20220929142149098.htm" title="Bệnh viện tuyến tỉnh đầu tiên phẫu thuật nội soi vá lỗ thông liên nhĩ">Bệnh viện tuyến tỉnh đầu tiên phẫu thuật nội soi vá lỗ thông liên nhĩ</a>
                                </h3>
                                <div class="info">
                                    <a href="/doi-song.htm">Đời sống</a>
                                    <span class="time pub-date loaded" title="9/29/2022 3:22:00 PM">1 giờ trước</span>
                                </div>
                            </div>
                            <a href="/benh-vien-tuyen-tinh-phau-thuat-noi-soi-va-lo-thong-lien-nhi-20220929142149098.htm" title="Bệnh viện tuyến tỉnh đầu tiên phẫu thuật nội soi vá lỗ thông liên nhĩ" class="right img">
                                <img src="https://danviet.mediacdn.vn/zoom/80_80/296231569849192448/2022/9/29/n-166443564018112780959-24-0-504-768-crop-16644356453581143090761.jpg" alt="Bệnh viện tuyến tỉnh đầu tiên phẫu thuật nội soi vá lỗ thông liên nhĩ">

                            </a>
                        </li>
                        <li data-newsid="20220929141938181" data-icontype="2">
                            <div class="left">
                                <h3 class="title">
                                    <a href="/trailer-dem-tho-nhac-kich-hoa-cuc-xanh-20220929141938181.htm" title="TRAILER: Đêm thơ nhạc kịch Hoa Cúc Xanh">TRAILER: Đêm thơ nhạc kịch Hoa Cúc Xanh</a>
                                </h3>
                                <div class="info">
                                    <a href="/video.htm">Video</a>
                                    <span class="time pub-date loaded" title="9/29/2022 2:30:00 PM">2 giờ trước</span>
                                </div>
                            </div>
                            <a href="/trailer-dem-tho-nhac-kich-hoa-cuc-xanh-20220929141938181.htm" title="TRAILER: Đêm thơ nhạc kịch Hoa Cúc Xanh" class="right img">
                                <img src="https://danviet.mediacdn.vn/zoom/80_80/296231569849192448/2022/9/29/san-pham-huu-co-00-50-03-26-still001-1664435667090309655068-0-136-1080-1864-crop-16644356741191027412315.jpg" alt="TRAILER: Đêm thơ nhạc kịch Hoa Cúc Xanh">

                            </a>
                        </li>

                        <li data-newsid="20220929110521142" data-icontype="16">
                            <div class="left">
                                <h3 class="title">
                                    <a href="/nuoi-sa-sung-vi-nhu-nhan-sam-bien-dao-len-bay-la-liet-nong-dan-khanh-hoa-co-co-hoi-lam-giau-20220929110521142.htm" title="Nuôi con đặc sản ví như &quot;nhân sâm biển&quot;, mở ra hướng làm giàu cho nông dân Khánh Hòa">Nuôi con đặc sản ví như "nhân sâm biển", mở ra hướng làm giàu cho nông dân Khánh Hòa</a>
                                </h3>
                                <div class="info">
                                    <a href="/nha-nong.htm">Nhà nông</a>
                                    <span class="time pub-date loaded" title="9/29/2022 1:00:00 PM">4 giờ trước</span>
                                </div>
                            </div>
                            <a href="/nuoi-sa-sung-vi-nhu-nhan-sam-bien-dao-len-bay-la-liet-nong-dan-khanh-hoa-co-co-hoi-lam-giau-20220929110521142.htm" title="Nuôi con đặc sản ví như &quot;nhân sâm biển&quot;, mở ra hướng làm giàu cho nông dân Khánh Hòa" class="right img">
                                <img src="https://danviet.mediacdn.vn/zoom/80_80/296231569849192448/2022/9/29/sa-sung-3-16644238567721739573487-0-172-1000-1772-crop-1664424164730537365554.jpg" alt="Nuôi con đặc sản ví như &quot;nhân sâm biển&quot;, mở ra hướng làm giàu cho nông dân Khánh Hòa">
                            </a>
                        </li>
                        <li data-newsid="20220929120922096" data-icontype="16">
                            <div class="left">
                                <h3 class="title">
                                    <a href="/vu-cong-an-danh-toi-tap-thieu-nien-chay-xe-may-gia-dinh-muon-xu-ly-dung-phap-luat-20220929120922096.htm" title="Vụ công an đánh tới tấp thiếu niên chạy xe máy: Gia đình muốn xử lý đúng pháp luật">Vụ công an đánh tới tấp thiếu niên chạy xe máy: Gia đình muốn xử lý đúng pháp luật</a>
                                </h3>
                                <div class="info">
                                    <a href="/phap-luat.htm">Pháp luật</a>
                                    <span class="time pub-date loaded" title="9/29/2022 12:35:00 PM">4 giờ trước</span>
                                </div>
                            </div>
                            <a href="/vu-cong-an-danh-toi-tap-thieu-nien-chay-xe-may-gia-dinh-muon-xu-ly-dung-phap-luat-20220929120922096.htm" title="Vụ công an đánh tới tấp thiếu niên chạy xe máy: Gia đình muốn xử lý đúng pháp luật" class="right img">
                                <img src="https://danviet.mediacdn.vn/zoom/80_80/296231569849192448/2022/9/29/img20220928181333-16643638418371874898725-0-0-675-1080-crop-1664427986204764530439.jpg" alt="Vụ công an đánh tới tấp thiếu niên chạy xe máy: Gia đình muốn xử lý đúng pháp luật">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="bottom-space"></div>
            </div>
        </section>
    </div>
</section>
<MobileNavigation></MobileNavigation>