<div class="breadcrumb">
    <h1 class="title-main">
        <a href="/tin-tuc.htm" title="Tin tức">Tin tức</a>
    </h1>
    <div class="list-bread">
        <ul class="list-zonechild">
            <li class="item">
                <a href="/tin-tuc/kinh-da-trong.htm" title="Kính đa tròng" class="title ">Kính đa tròng</a>
            </li>
            <li class="item">
                <a href="/tin-tuc/ngay-moi-tot-lanh.htm" title="Ngày mới tốt lành" class="title ">Ngày mới tốt lành</a>
            </li>
            <li class="item">
                <a href="/tin-tuc/chinh-tri.htm" title="Chính trị" class="title ">Chính trị</a>
            </li>
            <li class="item">
                <a href="/tin-tuc/xa-hoi.htm" title="Xã hội" class="title ">Xã hội</a>
            </li>
            <li class="item">
                <a href="/tin-tuc/phong-su-ghi-chep.htm" title="Phóng sự - Ghi chép" class="title ">Phóng sự - Ghi chép</a>
            </li>
        </ul>
    </div>
</div>
<div class="grid highlight">
    <div class="article-wrap">
        <article class="article grid">
            <article class="article-item" data-content-name="category-highlights" data-content-piece="category-highlights-position_1" data-content-target="/the-thao/van-toan-toi-da-giai-toa-suc-ep-khong-ghi-ban-suot-5-nam-qua-20220927220545839.htm" data-track-content="">
                <div class="article-thumb">
                    <a href="/the-thao/van-toan-toi-da-giai-toa-suc-ep-khong-ghi-ban-suot-5-nam-qua-20220927220545839.htm">
                        <img loading="lazy" width="516" height="344" alt="Văn Toàn: &quot;Tôi đã giải tỏa sức ép không ghi bàn suốt 5 năm qua&quot;" src="https://icdn.dantri.com.vn/zoom/516_344/2022/09/27/vantoan1-edited-1664290956453.jpeg" srcset="https://icdn.dantri.com.vn/zoom/516_344/2022/09/27/vantoan1-edited-1664290956453.jpeg 1x, https://icdn.dantri.com.vn/zoom/1032_688/2022/09/27/vantoan1-edited-1664290956453.jpeg 2x">
                    </a>
                </div>
                <div class="article-content">
                    <h3 class="article-title">
                        <a href="/the-thao/van-toan-toi-da-giai-toa-suc-ep-khong-ghi-ban-suot-5-nam-qua-20220927220545839.htm">Văn Toàn: "Tôi đã giải tỏa sức ép không ghi bàn suốt 5 năm qua"</a>
                    </h3>
                    <div class="article-excerpt">
                        <a href="/the-thao/van-toan-toi-da-giai-toa-suc-ep-khong-ghi-ban-suot-5-nam-qua-20220927220545839.htm"> Tiền đạo Nguyễn Văn Toàn giải cơn khát bàn thắng sau hơn 5 năm "tịt ngòi" với pha lập công giúp đội tuyển Việt Nam thắng Ấn Độ 3-0, giành cúp vô địch giải giao hữu tam hùng 2022. </a>
                    </div>
                </div>
            </article>
            <article class="article-item" data-content-name="category-highlights" data-content-piece="category-highlights-position_2" data-content-target="/the-thao/hlv-park-hang-seo-doi-tuyen-viet-nam-con-nhieu-nhuoc-diem-truoc-aff-cup-20220927210301627.htm" data-track-content="">
                <div class="article-thumb">
                    <a href="/the-thao/hlv-park-hang-seo-doi-tuyen-viet-nam-con-nhieu-nhuoc-diem-truoc-aff-cup-20220927210301627.htm">
                        <img loading="lazy" width="252" height="168" alt="HLV Park Hang Seo: &quot;Đội tuyển Việt Nam còn nhiều nhược điểm trước AFF Cup&quot;" src="https://icdn.dantri.com.vn/zoom/252_168/2022/09/27/park1-edited-crop-1664289462126.jpeg" srcset="https://icdn.dantri.com.vn/zoom/252_168/2022/09/27/park1-edited-crop-1664289462126.jpeg 1x, https://icdn.dantri.com.vn/zoom/504_336/2022/09/27/park1-edited-crop-1664289462126.jpeg 2x">
                    </a>
                </div>
                <h3 class="article-title">
                    <a href="/the-thao/hlv-park-hang-seo-doi-tuyen-viet-nam-con-nhieu-nhuoc-diem-truoc-aff-cup-20220927210301627.htm">HLV Park Hang Seo: "Đội tuyển Việt Nam còn nhiều nhược điểm trước AFF Cup"</a>
                </h3>
            </article>
            <article class="article-item" data-content-name="category-highlights" data-content-piece="category-highlights-position_3" data-content-target="/the-thao/hlv-an-do-luc-luong-cua-doi-tuyen-viet-nam-qua-manh-20220927205832908.htm" data-track-content="">
                <div class="article-thumb">
                    <a href="/the-thao/hlv-an-do-luc-luong-cua-doi-tuyen-viet-nam-qua-manh-20220927205832908.htm">
                        <img loading="lazy" width="252" height="168" alt="HLV Ấn Độ: &quot;Lực lượng của đội tuyển Việt Nam quá mạnh&quot;" src="https://icdn.dantri.com.vn/zoom/252_168/2022/09/27/stimac-edited-crop-1664289264537.jpeg" srcset="https://icdn.dantri.com.vn/zoom/252_168/2022/09/27/stimac-edited-crop-1664289264537.jpeg 1x, https://icdn.dantri.com.vn/zoom/504_336/2022/09/27/stimac-edited-crop-1664289264537.jpeg 2x">
                    </a>
                </div>
                <h3 class="article-title">
                    <a href="/the-thao/hlv-an-do-luc-luong-cua-doi-tuyen-viet-nam-qua-manh-20220927205832908.htm">HLV Ấn Độ: "Lực lượng của đội tuyển Việt Nam quá mạnh"</a>
                </h3>
            </article>
        </article>
        <article class="article column">
            <article class="article-item" data-content-name="category-highlights" data-content-piece="category-highlights-position_4" data-content-target="/the-thao/dai-thang-an-do-tuyen-viet-nam-vo-dich-giai-tam-hung-20220927180502331.htm" data-track-content="">
                <div class="article-thumb">
                    <a href="/the-thao/dai-thang-an-do-tuyen-viet-nam-vo-dich-giai-tam-hung-20220927180502331.htm">
                        <img loading="lazy" width="186" height="124" alt="Đại thắng Ấn Độ, tuyển Việt Nam vô địch giải tam hùng" src="https://icdn.dantri.com.vn/zoom/186_124/2022/09/27/z37551779899683a789bb7c3034c261305660c22341a1c-1664280899580.jpg" srcset="https://icdn.dantri.com.vn/zoom/186_124/2022/09/27/z37551779899683a789bb7c3034c261305660c22341a1c-1664280899580.jpg 1x, https://icdn.dantri.com.vn/zoom/372_248/2022/09/27/z37551779899683a789bb7c3034c261305660c22341a1c-1664280899580.jpg 2x">
                        <div class="article-ico">
                            <i class="photo"></i>
                        </div>
                    </a>
                </div>
                <h3 class="article-title">
                    <a href="/the-thao/dai-thang-an-do-tuyen-viet-nam-vo-dich-giai-tam-hung-20220927180502331.htm">Đại thắng Ấn Độ, tuyển Việt Nam vô địch giải tam hùng</a>
                </h3>
            </article>
            <article class="article-item" data-content-name="category-highlights" data-content-piece="category-highlights-position_5" data-content-target="/the-thao/bao-indonesia-lo-hlv-shin-tae-yong-dan-dat-tuyen-viet-nam-thay-hlv-park-20220927132638879.htm" data-track-content="">
                <div class="article-thumb">
                    <a href="/the-thao/bao-indonesia-lo-hlv-shin-tae-yong-dan-dat-tuyen-viet-nam-thay-hlv-park-20220927132638879.htm">
                        <img loading="lazy" width="186" height="124" alt="Báo Indonesia lo HLV Shin Tae Yong dẫn dắt tuyển Việt Nam thay HLV Park" src="https://icdn.dantri.com.vn/zoom/186_124/2022/09/27/4196-crop-1664259818339.jpeg" srcset="https://icdn.dantri.com.vn/zoom/186_124/2022/09/27/4196-crop-1664259818339.jpeg 1x, https://icdn.dantri.com.vn/zoom/372_248/2022/09/27/4196-crop-1664259818339.jpeg 2x">
                    </a>
                </div>
                <h3 class="article-title">
                    <a href="/the-thao/bao-indonesia-lo-hlv-shin-tae-yong-dan-dat-tuyen-viet-nam-thay-hlv-park-20220927132638879.htm">Báo Indonesia lo HLV Shin Tae Yong dẫn dắt tuyển Việt Nam thay HLV Park</a>
                </h3>
            </article>
            <article class="article-item" data-content-name="category-highlights" data-content-piece="category-highlights-position_6" data-content-target="/the-thao/dt-futsal-viet-nam-gap-dt-futsal-han-quoc-cho-tin-thang-tran-dau-tien-20220927135432400.htm" data-track-content="">
                <div class="article-thumb">
                    <a href="/the-thao/dt-futsal-viet-nam-gap-dt-futsal-han-quoc-cho-tin-thang-tran-dau-tien-20220927135432400.htm">
                        <img loading="lazy" width="186" height="124" alt="ĐT Futsal Việt Nam gặp ĐT Futsal Hàn Quốc: Chờ tin thắng trận đầu tiên" src="https://icdn.dantri.com.vn/zoom/186_124/2022/09/27/981x654-1664261559131.png" srcset="https://icdn.dantri.com.vn/zoom/186_124/2022/09/27/981x654-1664261559131.png 1x, https://icdn.dantri.com.vn/zoom/372_248/2022/09/27/981x654-1664261559131.png 2x">
                    </a>
                </div>
                <h3 class="article-title">
                    <a href="/the-thao/dt-futsal-viet-nam-gap-dt-futsal-han-quoc-cho-tin-thang-tran-dau-tien-20220927135432400.htm">ĐT Futsal Việt Nam gặp ĐT Futsal Hàn Quốc: Chờ tin thắng trận đầu tiên</a>
                </h3>
            </article>
            <article class="article-item" data-content-name="category-highlights" data-content-piece="category-highlights-position_7" data-content-target="/the-thao/khai-mac-giai-bong-da-nu-u16-quoc-gia-2022-20220927180044386.htm" data-track-content="">
                <div class="article-thumb">
                    <a href="/the-thao/khai-mac-giai-bong-da-nu-u16-quoc-gia-2022-20220927180044386.htm">
                        <img loading="lazy" width="186" height="124" alt="Khai mạc giải bóng đá nữ U16 Quốc gia 2022" src="https://icdn.dantri.com.vn/zoom/186_124/2022/09/27/khaimac2-1664276349062.jpg" srcset="https://icdn.dantri.com.vn/zoom/186_124/2022/09/27/khaimac2-1664276349062.jpg 1x, https://icdn.dantri.com.vn/zoom/372_248/2022/09/27/khaimac2-1664276349062.jpg 2x">
                    </a>
                </div>
                <h3 class="article-title">
                    <a href="/the-thao/khai-mac-giai-bong-da-nu-u16-quoc-gia-2022-20220927180044386.htm">Khai mạc giải bóng đá nữ U16 Quốc gia 2022</a>
                </h3>
            </article>
        </article>
    </div>
</div>
<div class="grid list" id="bai-viet">
<div class="main">
<div class="article list">
    <article class="article-item" data-content-name="category-timeline_page_1" data-content-piece="category-timeline_page_1-position_1" data-content-target="/the-thao/afc-danh-gia-cao-futsal-viet-nam-khi-chung-bang-voi-nhat-ban-han-quoc-20220927124701138.htm" data-track-content="">
        <div class="article-thumb">
            <a href="/the-thao/afc-danh-gia-cao-futsal-viet-nam-khi-chung-bang-voi-nhat-ban-han-quoc-20220927124701138.htm">
                <img loading="lazy" width="252" height="168" alt="AFC đánh giá cao futsal Việt Nam khi chung bảng với Nhật Bản, Hàn Quốc" data-src="https://icdn.dantri.com.vn/zoom/252_168/2022/09/27/11-1653039480715-1664257436964.jpg" data-srcset="https://icdn.dantri.com.vn/zoom/252_168/2022/09/27/11-1653039480715-1664257436964.jpg 1x, https://icdn.dantri.com.vn/zoom/504_336/2022/09/27/11-1653039480715-1664257436964.jpg 2x" src="https://icdn.dantri.com.vn/zoom/252_168/2022/09/27/11-1653039480715-1664257436964.jpg" data-ll-status="loaded" class="entered loaded" srcset="https://icdn.dantri.com.vn/zoom/252_168/2022/09/27/11-1653039480715-1664257436964.jpg 1x, https://icdn.dantri.com.vn/zoom/504_336/2022/09/27/11-1653039480715-1664257436964.jpg 2x">
            </a>
        </div>
        <div class="article-content">
            <h3 class="article-title">
                <a href="/the-thao/afc-danh-gia-cao-futsal-viet-nam-khi-chung-bang-voi-nhat-ban-han-quoc-20220927124701138.htm">AFC đánh giá cao futsal Việt Nam khi chung bảng với Nhật Bản, Hàn Quốc</a>
            </h3>
            <div class="article-excerpt">
                <a href="/the-thao/afc-danh-gia-cao-futsal-viet-nam-khi-chung-bang-voi-nhat-ban-han-quoc-20220927124701138.htm"> Trang chủ của Liên đoàn bóng đá châu Á (AFC) đánh giá cao futsal Việt Nam dù nằm chung bảng với Nhật Bản, Hàn Quốc. </a>
            </div>
        </div>
    </article>
    <article class="article-item" data-content-name="category-timeline_page_1" data-content-piece="category-timeline_page_1-position_2" data-content-target="/the-thao/truoc-tran-tuyen-viet-nam-gap-an-do-them-ngay-buon-cho-dan-phe-20220927122220376.htm" data-track-content="">
        <div class="article-thumb">
            <a href="/the-thao/truoc-tran-tuyen-viet-nam-gap-an-do-them-ngay-buon-cho-dan-phe-20220927122220376.htm">
                <img loading="lazy" width="252" height="168" alt="Trước trận tuyển Việt Nam gặp Ấn Độ: Thêm ngày buồn cho dân phe" data-src="https://icdn.dantri.com.vn/zoom/252_168/2022/09/27/pheve2l27-9-22-crop-1664254678054.jpeg" data-srcset="https://icdn.dantri.com.vn/zoom/252_168/2022/09/27/pheve2l27-9-22-crop-1664254678054.jpeg 1x, https://icdn.dantri.com.vn/zoom/504_336/2022/09/27/pheve2l27-9-22-crop-1664254678054.jpeg 2x" src="https://icdn.dantri.com.vn/zoom/252_168/2022/09/27/pheve2l27-9-22-crop-1664254678054.jpeg" data-ll-status="loaded" class="entered loaded" srcset="https://icdn.dantri.com.vn/zoom/252_168/2022/09/27/pheve2l27-9-22-crop-1664254678054.jpeg 1x, https://icdn.dantri.com.vn/zoom/504_336/2022/09/27/pheve2l27-9-22-crop-1664254678054.jpeg 2x">
            </a>
        </div>
        <div class="article-content">
            <h3 class="article-title">
                <a href="/the-thao/truoc-tran-tuyen-viet-nam-gap-an-do-them-ngay-buon-cho-dan-phe-20220927122220376.htm">Trước trận tuyển Việt Nam gặp Ấn Độ: Thêm ngày buồn cho dân phe</a>
            </h3>
            <div class="article-excerpt">
                <a href="/the-thao/truoc-tran-tuyen-viet-nam-gap-an-do-them-ngay-buon-cho-dan-phe-20220927122220376.htm"> Các quầy bán vé xung quanh sân Thống Nhất vẫn bán bình thường trong buổi trưa ngày diễn ra trận đấu giữa tuyển VIệt Nam gặp Ấn Độ (19h00 ngày 27/9), giúp người hâm mộ mua vé dễ dàng hơn. </a>
            </div>
        </div>
    </article>
    <article class="article-item" data-content-name="category-timeline_page_1" data-content-piece="category-timeline_page_1-position_3" data-content-target="/the-thao/bao-chi-the-gioi-du-doan-ket-qua-tran-tuyen-viet-nam-gap-an-do-20220927095649055.htm" data-track-content="">
        <div class="article-thumb">
            <a href="/the-thao/bao-chi-the-gioi-du-doan-ket-qua-tran-tuyen-viet-nam-gap-an-do-20220927095649055.htm">
                <img loading="lazy" width="252" height="168" alt="Báo chí thế giới dự đoán kết quả trận tuyển Việt Nam gặp Ấn Độ" data-src="https://icdn.dantri.com.vn/zoom/252_168/2022/09/27/ab8b6e0b50ea94b4cdfb-1663768673216-1663811897025-1664247171552.jpg" data-srcset="https://icdn.dantri.com.vn/zoom/252_168/2022/09/27/ab8b6e0b50ea94b4cdfb-1663768673216-1663811897025-1664247171552.jpg 1x, https://icdn.dantri.com.vn/zoom/504_336/2022/09/27/ab8b6e0b50ea94b4cdfb-1663768673216-1663811897025-1664247171552.jpg 2x" src="https://icdn.dantri.com.vn/zoom/252_168/2022/09/27/ab8b6e0b50ea94b4cdfb-1663768673216-1663811897025-1664247171552.jpg" data-ll-status="loaded" class="entered loaded" srcset="https://icdn.dantri.com.vn/zoom/252_168/2022/09/27/ab8b6e0b50ea94b4cdfb-1663768673216-1663811897025-1664247171552.jpg 1x, https://icdn.dantri.com.vn/zoom/504_336/2022/09/27/ab8b6e0b50ea94b4cdfb-1663768673216-1663811897025-1664247171552.jpg 2x">
            </a>
        </div>
        <div class="article-content">
            <h3 class="article-title">
                <a href="/the-thao/bao-chi-the-gioi-du-doan-ket-qua-tran-tuyen-viet-nam-gap-an-do-20220927095649055.htm">Báo chí thế giới dự đoán kết quả trận tuyển Việt Nam gặp Ấn Độ</a>
            </h3>
            <div class="article-excerpt">
                <a href="/the-thao/bao-chi-the-gioi-du-doan-ket-qua-tran-tuyen-viet-nam-gap-an-do-20220927095649055.htm"> Nhiều tờ báo thế giới đã dự đoán kết quả trận đấu giao hữu giữa đội tuyển Việt Nam và Ấn Độ ở sân Thống Nhất vào hôm nay (27/9). </a>
            </div>
        </div>
    </article>
    <article class="article-item" data-content-name="category-timeline_page_1" data-content-piece="category-timeline_page_1-position_4" data-content-target="/the-thao/neu-du-aff-cup-quang-hai-phai-tu-bo-su-nghiep-o-pau-fc-20220927120405171.htm" data-track-content="">
        <div class="article-thumb">
            <a href="/the-thao/neu-du-aff-cup-quang-hai-phai-tu-bo-su-nghiep-o-pau-fc-20220927120405171.htm">
                <img loading="lazy" width="252" height="168" alt="&quot;Nếu dự AFF Cup, Quang Hải phải từ bỏ sự nghiệp ở Pau FC&quot;" data-src="https://icdn.dantri.com.vn/zoom/252_168/2022/09/27/quang-hai-279docx-1664254706848.png" data-srcset="https://icdn.dantri.com.vn/zoom/252_168/2022/09/27/quang-hai-279docx-1664254706848.png 1x, https://icdn.dantri.com.vn/zoom/504_336/2022/09/27/quang-hai-279docx-1664254706848.png 2x" src="https://icdn.dantri.com.vn/zoom/252_168/2022/09/27/quang-hai-279docx-1664254706848.png" data-ll-status="loaded" class="entered loaded" srcset="https://icdn.dantri.com.vn/zoom/252_168/2022/09/27/quang-hai-279docx-1664254706848.png 1x, https://icdn.dantri.com.vn/zoom/504_336/2022/09/27/quang-hai-279docx-1664254706848.png 2x">
            </a>
        </div>
        <div class="article-content">
            <h3 class="article-title">
                <a href="/the-thao/neu-du-aff-cup-quang-hai-phai-tu-bo-su-nghiep-o-pau-fc-20220927120405171.htm">"Nếu dự AFF Cup, Quang Hải phải từ bỏ sự nghiệp ở Pau FC"</a>
            </h3>
            <div class="article-excerpt">
                <a href="/the-thao/neu-du-aff-cup-quang-hai-phai-tu-bo-su-nghiep-o-pau-fc-20220927120405171.htm"> Tiền vệ Nguyễn Quang Hải chia sẻ anh mong muốn được thi đấu ở AFF Cup 2022. Dĩ nhiên, anh phải được Pau FC đồng ý bởi giải đấu này không thuộc hệ thống của FIFA. </a>
            </div>
        </div>
    </article>
    <article class="article-item" data-content-name="category-timeline_page_1" data-content-piece="category-timeline_page_1-position_5" data-content-target="/the-thao/tuyen-viet-nam-an-do-vo-dich-giai-tam-hung-va-huong-ve-aff-cup-20220926222358770.htm" data-track-content="">
        <div class="article-thumb">
            <a href="/the-thao/tuyen-viet-nam-an-do-vo-dich-giai-tam-hung-va-huong-ve-aff-cup-20220926222358770.htm">
                <img loading="lazy" width="252" height="168" alt="Tuyển Việt Nam - Ấn Độ: Vô địch giải tam hùng và hướng về AFF Cup" data-src="https://icdn.dantri.com.vn/zoom/252_168/2022/09/26/vn10l26-9-22-crop-1664205430744.jpeg" data-srcset="https://icdn.dantri.com.vn/zoom/252_168/2022/09/26/vn10l26-9-22-crop-1664205430744.jpeg 1x, https://icdn.dantri.com.vn/zoom/504_336/2022/09/26/vn10l26-9-22-crop-1664205430744.jpeg 2x" src="https://icdn.dantri.com.vn/zoom/252_168/2022/09/26/vn10l26-9-22-crop-1664205430744.jpeg" data-ll-status="loaded" class="entered loaded" srcset="https://icdn.dantri.com.vn/zoom/252_168/2022/09/26/vn10l26-9-22-crop-1664205430744.jpeg 1x, https://icdn.dantri.com.vn/zoom/504_336/2022/09/26/vn10l26-9-22-crop-1664205430744.jpeg 2x">
            </a>
        </div>
        <div class="article-content">
            <h3 class="article-title">
                <a href="/the-thao/tuyen-viet-nam-an-do-vo-dich-giai-tam-hung-va-huong-ve-aff-cup-20220926222358770.htm">Tuyển Việt Nam - Ấn Độ: Vô địch giải tam hùng và hướng về AFF Cup</a>
            </h3>
            <div class="article-excerpt">
                <a href="/the-thao/tuyen-viet-nam-an-do-vo-dich-giai-tam-hung-va-huong-ve-aff-cup-20220926222358770.htm"> So với Ấn Độ, đội tuyển Việt Nam hiện được đánh giá cao hơn. Nhưng mục tiêu của đội bóng trong tay HLV Park Hang Seo không chỉ là thắng Ấn Độ, mà còn là hướng về AFF Cup 2022. </a>
            </div>
        </div>
    </article>
    <article class="article-item" data-content-name="category-timeline_page_1" data-content-piece="category-timeline_page_1-position_6" data-content-target="/the-thao/doi-tuyen-futsal-viet-nam-nhan-tin-vui-truoc-tran-gap-han-quoc-20220926193551826.htm" data-track-content="">
        <div class="article-thumb">
            <a href="/the-thao/doi-tuyen-futsal-viet-nam-nhan-tin-vui-truoc-tran-gap-han-quoc-20220926193551826.htm">
                <img loading="lazy" width="252" height="168" alt="Đội tuyển futsal Việt Nam nhận tin vui trước trận gặp Hàn Quốc" data-src="https://icdn.dantri.com.vn/zoom/252_168/2022/09/26/futsal-crop-1664195669245.jpeg" data-srcset="https://icdn.dantri.com.vn/zoom/252_168/2022/09/26/futsal-crop-1664195669245.jpeg 1x, https://icdn.dantri.com.vn/zoom/504_336/2022/09/26/futsal-crop-1664195669245.jpeg 2x" src="https://icdn.dantri.com.vn/zoom/252_168/2022/09/26/futsal-crop-1664195669245.jpeg" data-ll-status="loaded" class="entered loaded" srcset="https://icdn.dantri.com.vn/zoom/252_168/2022/09/26/futsal-crop-1664195669245.jpeg 1x, https://icdn.dantri.com.vn/zoom/504_336/2022/09/26/futsal-crop-1664195669245.jpeg 2x">
            </a>
        </div>
        <div class="article-content">
            <h3 class="article-title">
                <a href="/the-thao/doi-tuyen-futsal-viet-nam-nhan-tin-vui-truoc-tran-gap-han-quoc-20220926193551826.htm">Đội tuyển futsal Việt Nam nhận tin vui trước trận gặp Hàn Quốc</a>
            </h3>
            <div class="article-excerpt">
                <a href="/the-thao/doi-tuyen-futsal-viet-nam-nhan-tin-vui-truoc-tran-gap-han-quoc-20220926193551826.htm"> Trước trận ra quân tại vòng chung kết châu Á 2022 gặp Hàn Quốc, đội tuyển futsal Việt Nam đón nhận thông tin đội trưởng Văn Vũ trở lại sau chấn thương. </a>
            </div>
        </div>
    </article>
    <article class="article-item" data-content-name="category-timeline_page_1" data-content-piece="category-timeline_page_1-position_7" data-content-target="/the-thao/bao-thai-lan-bat-ngo-cam-on-hlv-mano-polking-vi-mot-dieu-20220926182432385.htm" data-track-content="">
        <div class="article-thumb">
            <a href="/the-thao/bao-thai-lan-bat-ngo-cam-on-hlv-mano-polking-vi-mot-dieu-20220926182432385.htm">
                <img loading="lazy" width="252" height="168" alt="Báo Thái Lan bất ngờ… cảm ơn HLV Mano Polking vì một điều" data-src="https://icdn.dantri.com.vn/zoom/252_168/2022/09/26/7666575d-63f0-41ca-9eac-22f25ae38638-crop-1664191308601.jpeg" data-srcset="https://icdn.dantri.com.vn/zoom/252_168/2022/09/26/7666575d-63f0-41ca-9eac-22f25ae38638-crop-1664191308601.jpeg 1x, https://icdn.dantri.com.vn/zoom/504_336/2022/09/26/7666575d-63f0-41ca-9eac-22f25ae38638-crop-1664191308601.jpeg 2x" src="https://icdn.dantri.com.vn/zoom/252_168/2022/09/26/7666575d-63f0-41ca-9eac-22f25ae38638-crop-1664191308601.jpeg" data-ll-status="loaded" class="entered loaded" srcset="https://icdn.dantri.com.vn/zoom/252_168/2022/09/26/7666575d-63f0-41ca-9eac-22f25ae38638-crop-1664191308601.jpeg 1x, https://icdn.dantri.com.vn/zoom/504_336/2022/09/26/7666575d-63f0-41ca-9eac-22f25ae38638-crop-1664191308601.jpeg 2x">
            </a>
        </div>
        <div class="article-content">
            <h3 class="article-title">
                <a href="/the-thao/bao-thai-lan-bat-ngo-cam-on-hlv-mano-polking-vi-mot-dieu-20220926182432385.htm">Báo Thái Lan bất ngờ… cảm ơn HLV Mano Polking vì một điều</a>
            </h3>
            <div class="article-excerpt">
                <a href="/the-thao/bao-thai-lan-bat-ngo-cam-on-hlv-mano-polking-vi-mot-dieu-20220926182432385.htm"> Tờ Siam Sports (Thái Lan) đã lên tiếng cảm ơn HLV Mano Polking sau trận đấu với Trinidad &amp; Tobago vì trao cơ hội ra sân cho nhiều cầu thủ trẻ. </a>
            </div>
        </div>
    </article>
    <article class="article-item" data-content-name="category-timeline_page_1" data-content-piece="category-timeline_page_1-position_8" data-content-target="/the-thao/hlv-park-phac-thao-doi-hinh-thi-dau-an-do-20220926180701969.htm" data-track-content="">
        <div class="article-thumb">
            <a href="/the-thao/hlv-park-phac-thao-doi-hinh-thi-dau-an-do-20220926180701969.htm">
                <img loading="lazy" width="252" height="168" alt="HLV Park phác thảo đội hình thi đấu Ấn Độ" data-src="https://icdn.dantri.com.vn/zoom/252_168/2022/09/26/vn12l26-9-22-crop-1664188545919.jpeg" data-srcset="https://icdn.dantri.com.vn/zoom/252_168/2022/09/26/vn12l26-9-22-crop-1664188545919.jpeg 1x, https://icdn.dantri.com.vn/zoom/504_336/2022/09/26/vn12l26-9-22-crop-1664188545919.jpeg 2x" src="https://icdn.dantri.com.vn/zoom/252_168/2022/09/26/vn12l26-9-22-crop-1664188545919.jpeg" data-ll-status="loaded" class="entered loaded" srcset="https://icdn.dantri.com.vn/zoom/252_168/2022/09/26/vn12l26-9-22-crop-1664188545919.jpeg 1x, https://icdn.dantri.com.vn/zoom/504_336/2022/09/26/vn12l26-9-22-crop-1664188545919.jpeg 2x">
            </a>
        </div>
        <div class="article-content">
            <h3 class="article-title">
                <a href="/the-thao/hlv-park-phac-thao-doi-hinh-thi-dau-an-do-20220926180701969.htm">HLV Park phác thảo đội hình thi đấu Ấn Độ</a>
            </h3>
            <div class="article-excerpt">
                <a href="/the-thao/hlv-park-phac-thao-doi-hinh-thi-dau-an-do-20220926180701969.htm"> Cuộc đấu với Ấn Độ có thể xem là trận đấu mà HLV Park Hang Seo phát thảo đội hình mạnh nhất cho đội tuyển Việt Nam, chuẩn bị hướng về AFF Cup 2022. </a>
            </div>
        </div>
    </article>
    <article class="article-item" data-content-name="category-timeline_page_1" data-content-piece="category-timeline_page_1-position_9" data-content-target="/the-thao/quang-hai-tuong-lai-o-pau-fc-van-con-o-phia-truoc-20220926171858936.htm" data-track-content="">
        <div class="article-thumb">
            <a href="/the-thao/quang-hai-tuong-lai-o-pau-fc-van-con-o-phia-truoc-20220926171858936.htm">
                <img loading="lazy" width="252" height="168" alt="Quang Hải: &quot;Tương lai ở Pau FC vẫn còn ở phía trước&quot;" data-src="https://icdn.dantri.com.vn/zoom/252_168/2022/09/26/quanghai1l26-9-22-crop-1664186811351.jpeg" data-srcset="https://icdn.dantri.com.vn/zoom/252_168/2022/09/26/quanghai1l26-9-22-crop-1664186811351.jpeg 1x, https://icdn.dantri.com.vn/zoom/504_336/2022/09/26/quanghai1l26-9-22-crop-1664186811351.jpeg 2x" src="https://icdn.dantri.com.vn/zoom/252_168/2022/09/26/quanghai1l26-9-22-crop-1664186811351.jpeg" data-ll-status="loaded" class="entered loaded" srcset="https://icdn.dantri.com.vn/zoom/252_168/2022/09/26/quanghai1l26-9-22-crop-1664186811351.jpeg 1x, https://icdn.dantri.com.vn/zoom/504_336/2022/09/26/quanghai1l26-9-22-crop-1664186811351.jpeg 2x">
            </a>
        </div>
        <div class="article-content">
            <h3 class="article-title">
                <a href="/the-thao/quang-hai-tuong-lai-o-pau-fc-van-con-o-phia-truoc-20220926171858936.htm">Quang Hải: "Tương lai ở Pau FC vẫn còn ở phía trước"</a>
            </h3>
            <div class="article-excerpt">
                <a href="/the-thao/quang-hai-tuong-lai-o-pau-fc-van-con-o-phia-truoc-20220926171858936.htm"> Tiền vệ Nguyễn Quang Hải thừa nhận khao khát được thi đấu tại AFF Cup 2022, đồng thời anh sẽ xin Pau FC để tham dự giải bóng đá hàng đầu khu vực. </a>
            </div>
        </div>
    </article>
    <article class="article-item" data-content-name="category-timeline_page_1" data-content-piece="category-timeline_page_1-position_10" data-content-target="/the-thao/sau-khi-gay-soc-indonesia-thuong-lon-cho-hlv-shin-tae-yong-20220926154007110.htm" data-track-content="">
        <div class="article-thumb">
            <a href="/the-thao/sau-khi-gay-soc-indonesia-thuong-lon-cho-hlv-shin-tae-yong-20220926154007110.htm">
                <img loading="lazy" width="252" height="168" alt="Sau khi gây sốc, Indonesia &quot;thưởng lớn&quot; cho HLV Shin Tae Yong" data-src="https://icdn.dantri.com.vn/zoom/252_168/2022/09/26/0642214001664097579-shintae-yong2-crop-1664181375574.jpeg" data-srcset="https://icdn.dantri.com.vn/zoom/252_168/2022/09/26/0642214001664097579-shintae-yong2-crop-1664181375574.jpeg 1x, https://icdn.dantri.com.vn/zoom/504_336/2022/09/26/0642214001664097579-shintae-yong2-crop-1664181375574.jpeg 2x" src="https://icdn.dantri.com.vn/zoom/252_168/2022/09/26/0642214001664097579-shintae-yong2-crop-1664181375574.jpeg" data-ll-status="loaded" class="entered loaded" srcset="https://icdn.dantri.com.vn/zoom/252_168/2022/09/26/0642214001664097579-shintae-yong2-crop-1664181375574.jpeg 1x, https://icdn.dantri.com.vn/zoom/504_336/2022/09/26/0642214001664097579-shintae-yong2-crop-1664181375574.jpeg 2x">
            </a>
        </div>
        <div class="article-content">
            <h3 class="article-title">
                <a href="/the-thao/sau-khi-gay-soc-indonesia-thuong-lon-cho-hlv-shin-tae-yong-20220926154007110.htm">Sau khi gây sốc, Indonesia "thưởng lớn" cho HLV Shin Tae Yong</a>
            </h3>
            <div class="article-excerpt">
                <a href="/the-thao/sau-khi-gay-soc-indonesia-thuong-lon-cho-hlv-shin-tae-yong-20220926154007110.htm"> Liên đoàn bóng đá Indonesia thông báo HLV Shin Tae Yong sẽ tiếp tục gắn bó với bóng đá nước này theo bản hợp đồng mới. Đây là phần thưởng cho chiến lược gia người Hàn Quốc sau khi giành kết quả tốt. </a>
            </div>
        </div>
    </article>
    <article class="article-item" data-content-name="category-timeline_page_1" data-content-piece="category-timeline_page_1-position_11" data-content-target="/the-thao/madame-pang-tuyen-bo-doi-tuyen-thai-lan-se-vo-dich-aff-cup-20220926103733026.htm" data-track-content="">
        <div class="article-thumb">
            <a href="/the-thao/madame-pang-tuyen-bo-doi-tuyen-thai-lan-se-vo-dich-aff-cup-20220926103733026.htm">
                <img loading="lazy" width="252" height="168" alt="Madame Pang tuyên bố đội tuyển Thái Lan sẽ vô địch AFF Cup" data-src="https://icdn.dantri.com.vn/zoom/252_168/2022/09/26/madamepang126-9-22-crop-1664163250902.jpeg" data-srcset="https://icdn.dantri.com.vn/zoom/252_168/2022/09/26/madamepang126-9-22-crop-1664163250902.jpeg 1x, https://icdn.dantri.com.vn/zoom/504_336/2022/09/26/madamepang126-9-22-crop-1664163250902.jpeg 2x" src="https://icdn.dantri.com.vn/zoom/252_168/2022/09/26/madamepang126-9-22-crop-1664163250902.jpeg" data-ll-status="loaded" class="entered loaded" srcset="https://icdn.dantri.com.vn/zoom/252_168/2022/09/26/madamepang126-9-22-crop-1664163250902.jpeg 1x, https://icdn.dantri.com.vn/zoom/504_336/2022/09/26/madamepang126-9-22-crop-1664163250902.jpeg 2x">
            </a>
        </div>
        <div class="article-content">
            <h3 class="article-title">
                <a href="/the-thao/madame-pang-tuyen-bo-doi-tuyen-thai-lan-se-vo-dich-aff-cup-20220926103733026.htm">Madame Pang tuyên bố đội tuyển Thái Lan sẽ vô địch AFF Cup</a>
            </h3>
            <div class="article-excerpt">
                <a href="/the-thao/madame-pang-tuyen-bo-doi-tuyen-thai-lan-se-vo-dich-aff-cup-20220926103733026.htm"> Sau khi Thái Lan vượt qua Trinidad &amp; Tobago tại King's Cup, trưởng đoàn Madame Pang thưởng gần 1,3 tỷ đồng cho toàn đội, đồng thời bà nghĩ về việc đội nhà sẽ bảo vệ ngôi vô địch AFF Cup 2022. </a>
            </div>
        </div>
    </article>
</div>
<div class="pagination">
    <a class="page-item active" href="/the-thao/bong-da-trong-nuoc.htm" rel="nofollow">1</a><a class="page-item" href="/the-thao/bong-da-trong-nuoc/trang-2.htm" rel="nofollow">2</a><a class="page-item" href="/the-thao/bong-da-trong-nuoc/trang-3.htm" rel="nofollow">3</a><a class="page-item" href="/the-thao/bong-da-trong-nuoc/trang-4.htm" rel="nofollow">4</a><a class="page-item" href="/the-thao/bong-da-trong-nuoc/trang-5.htm" rel="nofollow">5</a><a class="page-item next" href="/the-thao/bong-da-trong-nuoc/trang-2.htm" rel="nofollow" title="Trang tiếp">❯</a>
</div>
</div>
<div class="sidebar">
    <div class="dantri-widget dantri-widget--vote" data-id="806" data-title="Theo bạn biện pháp nào sau đây sẽ giúp giảm mạnh vấn đề sử dụng rượu bia khi tham gia giao thông hiện nay?">
        <iframe src="https://gadgets.dantri.com.vn/polls/806?embed=true" id="dantri-widget-poll-806-1664292868438" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" scrolling="no" style="width: 100%; height: 559px; overflow: hidden;"></iframe>
    </div>
    <div id="desktop-right-2" class="mdbl dta-sticky">
        <div id="dta-100018-container" class="dta-unit" data-filled="true" data-partner="adx" style="opacity: 1; width: 300px;">
            <div class="tpm_attribution">
                <a target="_blank" href="https://dtadnetwork.com?utm_source=dantri.com.vn">
                    <span>
                        <em>Quảng cáo của</em> <strong>DTads</strong>
                    </span>
                </a>
            </div>
            <div id="dta-100018-gam" data-google-query-id="COud5YmmtfoCFQfLvQodbMsEcg">
                <div id="google_ads_iframe_/21899300285/dtadnetwork/desktop-right-2_0__container__" style="border: 0pt none; display: inline-block; width: 300px; height: 600px;">
                    <iframe src="https://dd599f5d3ed19cb7c5b20bfac5bdfc1a.safeframe.googlesyndication.com/safeframe/1-0-38/html/container.html" id="google_ads_iframe_/21899300285/dtadnetwork/desktop-right-2_0" title="3rd party ad content" name="" scrolling="no" marginwidth="0" marginheight="0" width="300" height="600" data-is-safeframe="true" sandbox="allow-forms allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation" role="region" aria-label="Advertisement" tabindex="0" data-google-container-id="3" style="border: 0px; vertical-align: bottom;" data-load-complete="true"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
</div>