@using AioCore.Services
@using AioCore.Shared.Common
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@LayoutType"/>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@LayoutType">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {

    [Inject]
    public IClientService ClientService { get; set; } = default!;

    private Type? LayoutType { get; set; }

    protected override Task OnInitializedAsync()
    {
        LayoutType = ClientService.GetDeviceType().Equals(DeviceType.Desktop) ? typeof(MainLayout) : typeof(MobileLayout);
        return base.OnInitializedAsync();
    }

}