<div id="header" class="clear-after">
    <div class="wrapper">
        <div class="left">
            <span class="icon icon-menu" id="header-btn-menu" title="Menu"></span>
            <h1>
                <span class="hidden">Dân Việt</span>
                <a href="/" title="Dân Việt" class="icon icon-logo"></a>
            </h1>
        </div>
        <ul class="right">
            <li id="header-btn-search">
                <a href="#" rel="nofollow">
                    <img src="https://static.mediacdn.vn/danviet/mob_images/icon_search.svg" alt="Search">
                </a>
            </li>
            <li class="clickable" id="top-link-account">
                <a href="#" rel="nofollow" class="first">
                    <img src="https://static.mediacdn.vn/danviet/mob_images/icon_user.svg" alt="Account">
                </a>
                <div class="second"></div>
            </li>
        </ul>
    </div>
    <div id="search-form" class="hidden">
        <div class="wrapper">
            <input type="text" maxlength="160" id="search-field" placeholder="Nhập từ khóa tìm kiếm" class="left">
            <button id="search-btn" title="Tìm kiếm" class="right" style="font-size: 14px;">
                Tìm
            </button>
        </div>
    </div>
</div>