<div class="wrapper time-homepage">
    <img src="https://static.mediacdn.vn/danviet/mob_images/icon_clock.svg" alt="">
    <span class="time">@DateTime.Now.ToString("ddd, dd/MM/yyyy HH:mm")</span>
</div>