<header>
    <div class="header-top wrapper">

    </div>
    <div class="header-bot wrapper">
        <div class="logo">
            <a class="logo-image" href="/">
                <img src="https://static.mediacdn.vn/danviet/web_images/danviet-logo.png" alt="">
            </a>
        </div>
        <div class="search-form">
            <input type="text" name="search" placeholder="Nhập từ khoá tìm kiếm..." autocomplete="off">
            <button type="button">
            </button>
        </div>
    </div>
    <div class="navigation">
        <ul class="navigation-bar wrapper">
            <li class="navigation-item">
                <a href="" class="title">
                    <i class="fa-solid fa-house"></i>
                </a>
            </li>
            <li class="navigation-item">
                <a href="" class="title active">
                    Video
                </a>
            </li>
            <li class="navigation-item">
                <a href="" class="title">
                    Ảnh
                </a>
            </li>
            <li class="navigation-item">
                <a href="" class="title">
                    Tin tức
                </a>
            </li>
            <li class="navigation-item">
                <a href="" class="title">
                    Thế giới
                </a>
            </li>
            <li class="navigation-item">
                <a href="" class="title">
                    Nhà nông
                </a>
            </li>
            <li class="navigation-item">
                <a href="" class="title">
                    Dân việt trò chuyện
                </a>
            </li>
            <li class="navigation-item">
                <a href="" class="title">
                    Thể thao
                </a>
            </li>
            <li class="navigation-item">
                <a href="" class="title">
                    Pháp luật
                </a>
            </li>
            <li class="navigation-item">
                <a href="" class="title">
                    Kinh tế
                </a>
            </li>
            <li class="navigation-item">
                <a href="" class="title">
                    Giáo dục
                </a>
            </li>
            <li class="navigation-item">
                <a href="" class="title">
                    Đời sống
                </a>
            </li>
            <li class="navigation-item">
                <a href="" class="title">
                    Văn hóa - Giải trí
                </a>
            </li>
            <li class="navigation-item">
                <a href="" class="title">
                    Bạn đọc
                </a>
            </li>
            <li class="navigation-expand">
                <i class="fa-solid fa-bars-staggered"></i>
            </li>
        </ul>
    </div>
    <div class="ads">
        <div class="wrapper">
            <div class="ads-code"></div>
        </div>
    </div>
</header>