<header>
    <div class="header-top wrapper">

    </div>
    <div class="header-bot wrapper">
        <div class="logo">
            <h1>
                <a class="logo-image" href="/">
                    <img src="https://static.mediacdn.vn/danviet/web_images/danviet-logo.png" alt="">
                </a>
            </h1>
        </div>
        <div class="search-form">
            <input type="text" name="search" placeholder="Nhập từ khoá tìm kiếm..." autocomplete="off">
            <button type="button">
            </button>
        </div>
    </div>
    <div class="navigation">
        <ul class="navigation-bar wrapper">
            <li class="navigation-item">
                <a href="" class="title active">
                    Trang chủ
                </a>
            </li>
            <li class="navigation-item">
                <a href="" class="title active">
                    Video
                </a>
            </li>
            <li class="navigation-item">
                <a href="" class="title active">
                    Ảnh
                </a>
            </li>
            <li class="navigation-item">
                <a href="" class="title active">
                    Tin tức
                </a>
            </li>
        </ul>
    </div>
</header>