@using AioCore.Services
@using AioCore.Shared.Common.Enums
@using Microsoft.AspNetCore.Components.Web
@namespace AioCore.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IClientService ClientService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="~/"/>
    <title>CMS</title>
    <link rel="stylesheet" href="css/app.@(ClientService.GetDeviceType().Equals(DeviceType.Desktop) ? "desktop" : "mobile").css">
    <link rel="stylesheet" href="libs/fontawesome/css/all.css">
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
</head>
<body class="app">
@RenderBody()
<script src="_framework/blazor.server.js"></script>
</body>
</html>