@page "/"

<PageTitle>Index</PageTitle>

<div class="grid highlight">
    <article class="article highlight">
        <article class="article-item">
            <div class="article-thumb">
                <a href="/xa-hoi/bao-noru-dang-ap-sat-da-nang-quang-nam-quang-ngai-20220927144635850.htm">
                    <img loading="lazy" width="516" height="344" alt="Bão Noru đang áp sát Đà Nẵng - Quảng Nam - Quảng Ngãi"
                         src="https://icdn.dantri.com.vn/zoom/516_344/2022/09/27/eea1cdde0a46ce189757-1664285990795.jpg">
                </a>
            </div>
            <div class="article-content">
                <h3 class="article-title text-ico red">
                    <a data-label="Trực tiếp" href="/xa-hoi/bao-noru-dang-ap-sat-da-nang-quang-nam-quang-ngai-20220927144635850.htm">Bão Noru đang áp sát Đà Nẵng - Quảng Nam - Quảng Ngãi</a>
                </h3>
                <div class="article-excerpt">
                    <a href="/xa-hoi/bao-noru-dang-ap-sat-da-nang-quang-nam-quang-ngai-20220927144635850.htm"> 21h, vị trí tâm bão cách Đà Nẵng khoảng 140km, cách Quảng Nam khoảng 127km; dự kiến đổ bộ trong 3 - 4 giờ nữa. </a>
                </div>
            </div>
        </article>
        <article class="article-item" data-content-name="home-highlights" data-content-piece="home-highlights-position_2" >
            <div class="article-thumb">
                <a href="/the-gioi/nga-len-tieng-ve-2-duong-ong-khi-dot-toi-duc-bi-ro-ri-20220927201317005.htm">
                    <img loading="lazy" width="234" height="156" alt="Nga lên tiếng về 2 đường ống khí đốt tới Đức bị rò rỉ" src="https://icdn.dantri.com.vn/zoom/234_156/2022/09/27/duong-ong-crop-1664284155732.jpeg" srcset="https://icdn.dantri.com.vn/zoom/234_156/2022/09/27/duong-ong-crop-1664284155732.jpeg 1x, https://icdn.dantri.com.vn/zoom/468_312/2022/09/27/duong-ong-crop-1664284155732.jpeg 2x">
                </a>
            </div>
            <h3 class="article-title">
                <a href="/the-gioi/nga-len-tieng-ve-2-duong-ong-khi-dot-toi-duc-bi-ro-ri-20220927201317005.htm">Nga lên tiếng về 2 đường ống khí đốt tới Đức bị rò rỉ</a>
            </h3>
        </article>
        <article class="article-item" data-content-name="home-highlights" data-content-piece="home-highlights-position_3" data-content-target="/xa-hoi/tiem-vang-bi-loc-thoi-bay-nhieu-nguoi-ta-hoa-di-tim-20220927211718164.htm">
            <div class="article-thumb">
                <a href="/xa-hoi/tiem-vang-bi-loc-thoi-bay-nhieu-nguoi-ta-hoa-di-tim-20220927211718164.htm">
                    <img loading="lazy" width="234" height="156" alt="Tiệm vàng bị lốc &quot;thổi bay&quot;, nhiều người tá hỏa đi tìm" src="https://icdn.dantri.com.vn/zoom/252_168/2022/09/27/vang-2-edited-1664287914372.jpeg" >
                </a>
            </div>
            <h3 class="article-title">
                <a href="/xa-hoi/tiem-vang-bi-loc-thoi-bay-nhieu-nguoi-ta-hoa-di-tim-20220927211718164.htm">
                    
                    Tiệm vàng bị lốc "thổi bay", nhiều người tá hỏa đi tìm
                </a>
            </h3>
        </article>
    </article>
    <article class="article special">
        <article class="article-item photostory" data-content-name="home-specials" data-content-piece="home-specials-position_1" data-content-target="/xa-hoi/nguoi-da-nang-thue-xe-container-chan-truoc-cua-de-chong-bao-so-4-20220927123051644.htm">
            <div class="article-container">
                <div class="article-content">
                    <div class="article-category photostory">
                        <a href="/photo-story.htm">
                            <i class="logo-article logo-photostory"></i>
                        </a>
                    </div>
                    <h3 class="article-title">
                        <a href="/xa-hoi/nguoi-da-nang-thue-xe-container-chan-truoc-cua-de-chong-bao-so-4-20220927123051644.htm">Người Đà Nẵng thuê xe container chặn trước cửa để chống bão số 4</a>
                    </h3>
                </div>
                <div class="article-thumb">
                    <a href="/xa-hoi/nguoi-da-nang-thue-xe-container-chan-truoc-cua-de-chong-bao-so-4-20220927123051644.htm">
                        <img loading="lazy" width="99" height="66" alt="Người Đà Nẵng thuê xe container chặn trước cửa để chống bão số 4" src="https://icdn.dantri.com.vn/zoom/99_66/2022/09/27/bao-noru-18-edited-1664262369204.jpeg" >
                    </a>
                </div>
            </div>
        </article>
        <article class="article-item" data-content-name="home-specials" data-content-piece="home-specials-position_2" data-content-target="/phap-luat/tro-ly-cua-pho-thu-tuong-thuong-truc-bi-bat-20220927190138252.htm">
            <div class="article-container">
                <div class="article-content">
                    <div class="article-category">
                        <a href="">
                            <i class=""></i>
                        </a>
                    </div>
                    <h3 class="article-title">
                        <a href="/phap-luat/tro-ly-cua-pho-thu-tuong-thuong-truc-bi-bat-20220927190138252.htm">Trợ lý của Phó Thủ tướng thường trực bị bắt</a>
                    </h3>
                </div>
                <div class="article-thumb">
                    <a href="/phap-luat/tro-ly-cua-pho-thu-tuong-thuong-truc-bi-bat-20220927190138252.htm">
                        <img loading="lazy" width="99" height="66" alt="Trợ lý của Phó Thủ tướng thường trực bị bắt" src="https://icdn.dantri.com.vn/zoom/99_66/2022/09/27/nguyen-quang-linh-1664279991888-1664281057041.jpg" >
                    </a>
                </div>
            </div>
        </article>
        <article class="article-item photostory" data-content-name="home-specials" data-content-piece="home-specials-position_3" data-content-target="/xa-hoi/duong-pho-da-nang-hoi-an-vang-lang-nin-tho-cho-bao-quet-qua-20220927210129030.htm">
            <div class="article-container">
                <div class="article-content">
                    <div class="article-category photostory">
                        <a href="/photo-story.htm">
                            <i class="logo-article logo-photostory"></i>
                        </a>
                    </div>
                    <h3 class="article-title">
                        <a href="/xa-hoi/duong-pho-da-nang-hoi-an-vang-lang-nin-tho-cho-bao-quet-qua-20220927210129030.htm">Đường phố Đà Nẵng, Hội An vắng lặng, "nín thở" chờ bão quét qua</a>
                    </h3>
                </div>
                <div class="article-thumb">
                    <a href="/xa-hoi/duong-pho-da-nang-hoi-an-vang-lang-nin-tho-cho-bao-quet-qua-20220927210129030.htm">
                        <img loading="lazy" width="99" height="66" alt="Đường phố Đà Nẵng, Hội An vắng lặng, &quot;nín thở&quot; chờ bão quét qua" src="https://icdn.dantri.com.vn/zoom/99_66/2022/09/27/duong-pho-da-nang-hoi-an-vang-lang-nin-tho-cho-bao-quet-qua-8-edited-1664288681927.jpeg" >
                    </a>
                </div>
            </div>
        </article>
        <article class="article-item" data-content-name="home-specials" data-content-piece="home-specials-position_4" data-content-target="/the-thao/hlv-park-hang-seo-doi-tuyen-viet-nam-con-nhieu-nhuoc-diem-truoc-aff-cup-20220927210301627.htm">
            <div class="article-container">
                <div class="article-content">
                    <div class="article-category">
                        <a href="">
                            <i class=""></i>
                        </a>
                    </div>
                    <h3 class="article-title">
                        <a href="/the-thao/hlv-park-hang-seo-doi-tuyen-viet-nam-con-nhieu-nhuoc-diem-truoc-aff-cup-20220927210301627.htm">HLV Park Hang Seo: "Đội tuyển Việt Nam còn nhiều nhược điểm trước AFF Cup"</a>
                    </h3>
                </div>
                <div class="article-thumb">
                    <a href="/the-thao/hlv-park-hang-seo-doi-tuyen-viet-nam-con-nhieu-nhuoc-diem-truoc-aff-cup-20220927210301627.htm">
                        <img loading="lazy" width="99" height="66" alt="HLV Park Hang Seo: &quot;Đội tuyển Việt Nam còn nhiều nhược điểm trước AFF Cup&quot;" src="https://icdn.dantri.com.vn/zoom/99_66/2022/09/27/park1-edited-crop-1664289462126.jpeg" >
                    </a>
                </div>
            </div>
        </article>
    </article>
</div>
<div class="grid normal">
<article class="article-list">
    <article class="article-item" data-content-name="home-category_highlights" data-content-piece="home-category_highlights-position_1" data-content-target="/xa-hoi/bao-chua-vao-nha-dan-da-do-sap-4-nguoi-bi-thuong-20220927180814114.htm">
        <div class="article-thumb">
            <a href="/xa-hoi/bao-chua-vao-nha-dan-da-do-sap-4-nguoi-bi-thuong-20220927180814114.htm">
                <img loading="lazy" width="233" height="155" alt="Bão chưa vào nhà dân đã đổ sập, 4 người bị thương" data-src="https://icdn.dantri.com.vn/zoom/233_155/2022/09/27/8-edited-1664276414491.jpeg" data-srcset="https://icdn.dantri.com.vn/zoom/233_155/2022/09/27/8-edited-1664276414491.jpeg 1x, https://icdn.dantri.com.vn/zoom/466_310/2022/09/27/8-edited-1664276414491.jpeg 2x" src="https://icdn.dantri.com.vn/zoom/233_155/2022/09/27/8-edited-1664276414491.jpeg" data-ll-status="loaded" class="entered loaded" >
                <div class="article-ico">
                    <i class="photo"></i>
                </div>
            </a>
        </div>
        <div class="article-content">
            <h3 class="article-title">
                <a href="/xa-hoi/bao-chua-vao-nha-dan-da-do-sap-4-nguoi-bi-thuong-20220927180814114.htm">Bão chưa vào nhà dân đã đổ sập, 4 người bị thương</a>
            </h3>
            <div class="article-excerpt">
                <a href="/xa-hoi/bao-chua-vao-nha-dan-da-do-sap-4-nguoi-bi-thuong-20220927180814114.htm"> Trận lốc xoáy quét qua địa bàn thị trấn Cửa Việt, huyện Gio Linh (Quảng Trị) khiến 4 người bị thương, khoảng 300 căn... </a>
            </div>
        </div>
    </article>
    <article class="article-item" data-content-name="home-category_highlights" data-content-piece="home-category_highlights-position_2" data-content-target="/the-gioi/chan-dien-dat-khach-o-chau-au-giua-khung-hoang-nang-luong-20220927191359880.htm">
        <div class="article-thumb">
            <a href="/the-gioi/chan-dien-dat-khach-o-chau-au-giua-khung-hoang-nang-luong-20220927191359880.htm">
                <img loading="lazy" width="233" height="155" alt="Chăn điện đắt khách ở châu Âu giữa khủng hoảng năng lượng" data-src="https://icdn.dantri.com.vn/zoom/233_155/2022/09/27/1200x-1-1664280572024.jpg" src="https://icdn.dantri.com.vn/zoom/233_155/2022/09/27/1200x-1-1664280572024.jpg" data-ll-status="loaded" class="entered loaded" >
            </a>
        </div>
        <div class="article-content">
            <h3 class="article-title">
                <a href="/the-gioi/chan-dien-dat-khach-o-chau-au-giua-khung-hoang-nang-luong-20220927191359880.htm">Chăn điện đắt khách ở châu Âu giữa khủng hoảng năng lượng</a>
            </h3>
            <div class="article-excerpt">
                <a href="/the-gioi/chan-dien-dat-khach-o-chau-au-giua-khung-hoang-nang-luong-20220927191359880.htm"> Cuộc khủng hoảng năng lượng ở châu Âu đang khiến người tiêu dùng tại đây lựa chọn một giải pháp ở cách xa hàng... </a>
            </div>
        </div>
    </article>
    <article class="article-item" data-content-name="home-category_highlights" data-content-piece="home-category_highlights-position_3" data-content-target="/kinh-doanh/khach-di-may-bay-bi-huy-vi-sieu-bao-noru-co-lay-lai-duoc-tien-20220927153409400.htm">
        <div class="article-thumb">
            <a href="/kinh-doanh/khach-di-may-bay-bi-huy-vi-sieu-bao-noru-co-lay-lai-duoc-tien-20220927153409400.htm">
                <img loading="lazy" width="233" height="155" alt="Khách đi máy bay bị hủy vì siêu bão Noru có lấy lại được tiền?" data-src="https://icdn.dantri.com.vn/zoom/233_155/2022/08/11/z35606517822017982b994239e8019a062daba9f142e13-crop-1660192562545.jpeg" src="https://icdn.dantri.com.vn/zoom/233_155/2022/08/11/z35606517822017982b994239e8019a062daba9f142e13-crop-1660192562545.jpeg" data-ll-status="loaded" class="entered loaded" >
            </a>
        </div>
        <div class="article-content">
            <h3 class="article-title">
                <a href="/kinh-doanh/khach-di-may-bay-bi-huy-vi-sieu-bao-noru-co-lay-lai-duoc-tien-20220927153409400.htm">Khách đi máy bay bị hủy vì siêu bão Noru có lấy lại được tiền?</a>
            </h3>
            <div class="article-excerpt">
                <a href="/kinh-doanh/khach-di-may-bay-bi-huy-vi-sieu-bao-noru-co-lay-lai-duoc-tien-20220927153409400.htm"> Hành khách đi máy bay mà bị hủy được chuyển đổi miễn phí sang các chuyến bay khác cùng hành trình nếu có yêu... </a>
            </div>
        </div>
    </article>
</article>
<div class="category">
    <div class="category-wrap">
        <div class="category-head">
            <h2 class="title">
                <a href="/xa-hoi.htm">Xã hội</a>
            </h2>
            <ol class="category-nav">
                <li>
                    <a href="/xa-hoi/chinh-tri.htm">Chính trị</a>
                </li>
                <li>
                    <a href="/xa-hoi/hoc-tap-bac.htm">Học tập Bác</a>
                </li>
                <li>
                    <a href="/xa-hoi/moi-truong.htm">Môi trường</a>
                </li>
            </ol>
        </div>
        <div class="category-container">
            <article class="article-item" data-content-name="home-category_20" data-content-piece="home-category_20-position_1" data-content-target="/xa-hoi/tiem-vang-bi-loc-thoi-bay-nhieu-nguoi-ta-hoa-di-tim-20220927211718164.htm">
                <div class="article-thumb">
                    <a href="/xa-hoi/tiem-vang-bi-loc-thoi-bay-nhieu-nguoi-ta-hoa-di-tim-20220927211718164.htm">
                        <img loading="lazy" width="192" height="128" alt="Tiệm vàng bị lốc &quot;thổi bay&quot;, nhiều người tá hỏa đi tìm" data-src="https://icdn.dantri.com.vn/zoom/192_128/2022/09/27/vang-2-edited-1664287914372.jpeg" class="entered loaded" >
                    </a>
                </div>
                <div class="article-content">
                    <h3 class="article-title">
                        <a href="/xa-hoi/tiem-vang-bi-loc-thoi-bay-nhieu-nguoi-ta-hoa-di-tim-20220927211718164.htm">Tiệm vàng bị lốc "thổi bay", nhiều người tá hỏa đi tìm</a>
                    </h3>
                    <div class="article-excerpt">
                        <a href="/xa-hoi/tiem-vang-bi-loc-thoi-bay-nhieu-nguoi-ta-hoa-di-tim-20220927211718164.htm"> Sau trận lốc xoáy kinh hoàng, một tiệm vàng tại Quảng Trị đã bị thổi bay rất nhiều vàng. Hiện vẫn chưa có thống... </a>
                    </div>
                </div>
            </article>
            <article class="article-item" data-content-name="home-category_20" data-content-piece="home-category_20-position_2" >
                <div class="article-thumb">
                    <a href="/xa-hoi/gia-lai-kon-tum-khan-truong-so-tan-nguoi-dan-vung-nguy-co-sat-lo-20220927171200627.htm">
                        <img loading="lazy" width="90" height="60" alt="Gia Lai, Kon Tum khẩn trương sơ tán người dân vùng nguy cơ sạt lở" data-src="https://icdn.dantri.com.vn/zoom/90_60/2022/09/27/z3754700598018033bc67fc4053b0565805e114bc92e33-1664272319791-crop-1664277965798.jpeg" src="https://icdn.dantri.com.vn/zoom/90_60/2022/09/27/z3754700598018033bc67fc4053b0565805e114bc92e33-1664272319791-crop-1664277965798.jpeg" class="entered loaded" >
                    </a>
                </div>
                <h3 class="article-title">
                    <a href="/xa-hoi/gia-lai-kon-tum-khan-truong-so-tan-nguoi-dan-vung-nguy-co-sat-lo-20220927171200627.htm">Gia Lai, Kon Tum khẩn trương sơ tán người dân vùng nguy cơ sạt lở</a>
                </h3>
            </article>
            <article class="article-item" data-content-name="home-category_20" data-content-piece="home-category_20-position_3" data-content-target="/xa-hoi/duong-pho-da-nang-hoi-an-vang-lang-nin-tho-cho-bao-quet-qua-20220927210129030.htm">
                <div class="article-thumb">
                    <a href="/xa-hoi/duong-pho-da-nang-hoi-an-vang-lang-nin-tho-cho-bao-quet-qua-20220927210129030.htm">
                        <img loading="lazy" width="90" height="60" alt="Đường phố Đà Nẵng, Hội An vắng lặng, &quot;nín thở&quot; chờ bão quét qua" data-src="https://icdn.dantri.com.vn/zoom/90_60/2022/09/27/duong-pho-da-nang-hoi-an-vang-lang-nin-tho-cho-bao-quet-qua-8-edited-1664288681927.jpeg" src="https://icdn.dantri.com.vn/zoom/90_60/2022/09/27/duong-pho-da-nang-hoi-an-vang-lang-nin-tho-cho-bao-quet-qua-8-edited-1664288681927.jpeg" data-ll-status="loaded" class="entered loaded" >
                    </a>
                </div>
                <h3 class="article-title">
                    <a href="/xa-hoi/duong-pho-da-nang-hoi-an-vang-lang-nin-tho-cho-bao-quet-qua-20220927210129030.htm">Đường phố Đà Nẵng, Hội An vắng lặng, "nín thở" chờ bão quét qua</a>
                </h3>
            </article>
            <article class="article-item" data-content-name="home-category_20" data-content-piece="home-category_20-position_4" data-content-target="/xa-hoi/cap-cuu-mot-phu-nu-bi-hen-suyen-tai-noi-so-tan-bao-20220927111840216.htm">
                <div class="article-thumb">
                    <a href="/xa-hoi/cap-cuu-mot-phu-nu-bi-hen-suyen-tai-noi-so-tan-bao-20220927111840216.htm">
                        <img loading="lazy" width="90" height="60" alt="Cấp cứu một phụ nữ bị hen suyễn tại nơi sơ tán bão" data-src="https://icdn.dantri.com.vn/zoom/90_60/2022/09/27/anh-edited-1664285344235.jpeg" src="https://icdn.dantri.com.vn/zoom/90_60/2022/09/27/anh-edited-1664285344235.jpeg" class="entered loaded" >
                    </a>
                </div>
                <h3 class="article-title">
                    <a href="/xa-hoi/cap-cuu-mot-phu-nu-bi-hen-suyen-tai-noi-so-tan-bao-20220927111840216.htm">Cấp cứu một phụ nữ bị hen suyễn tại nơi sơ tán bão</a>
                </h3>
            </article>
            <article class="article-item" data-content-name="home-category_20" data-content-piece="home-category_20-position_5" data-content-target="/xa-hoi/pho-thu-tuong-can-tan-dung-tung-chut-thoi-gian-truoc-khi-bao-vao-20220927201212588.htm">
                <div class="article-thumb">
                    <a href="/xa-hoi/pho-thu-tuong-can-tan-dung-tung-chut-thoi-gian-truoc-khi-bao-vao-20220927201212588.htm">
                        <img loading="lazy" width="90" height="60" alt="Phó Thủ tướng: Cần tận dụng từng chút thời gian trước khi bão vào" data-src="https://icdn.dantri.com.vn/zoom/90_60/2022/09/27/3086889877984374781634844296073643191847750n-edited-1664285907705.jpeg" src="https://icdn.dantri.com.vn/zoom/90_60/2022/09/27/3086889877984374781634844296073643191847750n-edited-1664285907705.jpeg" class="entered loaded" >
                    </a>
                </div>
                <h3 class="article-title">
                    <a href="/xa-hoi/pho-thu-tuong-can-tan-dung-tung-chut-thoi-gian-truoc-khi-bao-vao-20220927201212588.htm">Phó Thủ tướng: Cần tận dụng từng chút thời gian trước khi bão vào</a>
                </h3>
            </article>
        </div>
    </div>
    <div class="category-wrap line">
        <div class="category-head">
            <h2 class="title">
                <a href="/the-gioi.htm">Thế giới</a>
            </h2>
            <ol class="category-nav">
                <li>
                    <a href="/the-gioi/quan-su.htm">Quân sự</a>
                </li>
                <li>
                    <a href="/the-gioi/ho-so-phan-tich.htm">Hồ sơ - Phân tích</a>
                </li>
                <li>
                    <a href="/the-gioi/cang-thang-nga-ukraine.htm">Căng thẳng Nga - Ukraine</a>
                </li>
            </ol>
        </div>
        <div class="category-container">
            <article class="article-item" data-content-name="home-category_36" data-content-piece="home-category_36-position_1" data-content-target="/the-gioi/nga-len-tieng-ve-2-duong-ong-khi-dot-toi-duc-bi-ro-ri-20220927201317005.htm">
                <div class="article-thumb">
                    <a href="/the-gioi/nga-len-tieng-ve-2-duong-ong-khi-dot-toi-duc-bi-ro-ri-20220927201317005.htm">
                        <img loading="lazy" width="192" height="128" alt="Nga lên tiếng về 2 đường ống khí đốt tới Đức bị rò rỉ" data-src="https://icdn.dantri.com.vn/zoom/192_128/2022/09/27/duong-ong-crop-1664284155732.jpeg" data-srcset="https://icdn.dantri.com.vn/zoom/192_128/2022/09/27/duong-ong-crop-1664284155732.jpeg 1x, https://icdn.dantri.com.vn/zoom/384_256/2022/09/27/duong-ong-crop-1664284155732.jpeg 2x" src="https://icdn.dantri.com.vn/zoom/192_128/2022/09/27/duong-ong-crop-1664284155732.jpeg" data-ll-status="loaded" class="entered loaded" srcset="https://icdn.dantri.com.vn/zoom/192_128/2022/09/27/duong-ong-crop-1664284155732.jpeg 1x, https://icdn.dantri.com.vn/zoom/384_256/2022/09/27/duong-ong-crop-1664284155732.jpeg 2x">
                    </a>
                </div>
                <div class="article-content">
                    <h3 class="article-title">
                        <a href="/the-gioi/nga-len-tieng-ve-2-duong-ong-khi-dot-toi-duc-bi-ro-ri-20220927201317005.htm">Nga lên tiếng về 2 đường ống khí đốt tới Đức bị rò rỉ</a>
                    </h3>
                    <div class="article-excerpt">
                        <a href="/the-gioi/nga-len-tieng-ve-2-duong-ong-khi-dot-toi-duc-bi-ro-ri-20220927201317005.htm"> Điện Kremlin không loại trừ khả năng sự cố cả 2 đường ống khí đốt Dòng chảy phương Bắc 1 và 2 chảy từ... </a>
                    </div>
                </div>
            </article>
            <article class="article-item" data-content-name="home-category_36" data-content-piece="home-category_36-position_2" data-content-target="/the-gioi/ukraine-canh-bao-trung-phat-cong-dan-ho-tro-trung-cau-sap-nhap-nga-20220927162825894.htm">
                <div class="article-thumb">
                    <a href="/the-gioi/ukraine-canh-bao-trung-phat-cong-dan-ho-tro-trung-cau-sap-nhap-nga-20220927162825894.htm">
                        <img loading="lazy" width="90" height="60" alt="Ukraine cảnh báo trừng phạt công dân hỗ trợ trưng cầu sáp nhập Nga" data-src="https://icdn.dantri.com.vn/zoom/90_60/2022/09/27/ukraine-canh-bao-trung-phat-cong-dan-ho-tro-nga-to-chuc-trung-cau-dan-y-crop-1664270567875.jpeg" data-srcset="https://icdn.dantri.com.vn/zoom/90_60/2022/09/27/ukraine-canh-bao-trung-phat-cong-dan-ho-tro-nga-to-chuc-trung-cau-dan-y-crop-1664270567875.jpeg 1x, https://icdn.dantri.com.vn/zoom/180_120/2022/09/27/ukraine-canh-bao-trung-phat-cong-dan-ho-tro-nga-to-chuc-trung-cau-dan-y-crop-1664270567875.jpeg 2x" src="https://icdn.dantri.com.vn/zoom/90_60/2022/09/27/ukraine-canh-bao-trung-phat-cong-dan-ho-tro-nga-to-chuc-trung-cau-dan-y-crop-1664270567875.jpeg" data-ll-status="loaded" class="entered loaded" srcset="https://icdn.dantri.com.vn/zoom/90_60/2022/09/27/ukraine-canh-bao-trung-phat-cong-dan-ho-tro-nga-to-chuc-trung-cau-dan-y-crop-1664270567875.jpeg 1x, https://icdn.dantri.com.vn/zoom/180_120/2022/09/27/ukraine-canh-bao-trung-phat-cong-dan-ho-tro-nga-to-chuc-trung-cau-dan-y-crop-1664270567875.jpeg 2x">
                    </a>
                </div>
                <h3 class="article-title">
                    <a href="/the-gioi/ukraine-canh-bao-trung-phat-cong-dan-ho-tro-trung-cau-sap-nhap-nga-20220927162825894.htm">Ukraine cảnh báo trừng phạt công dân hỗ trợ trưng cầu sáp nhập Nga</a>
                </h3>
            </article>
            <article class="article-item" data-content-name="home-category_36" data-content-piece="home-category_36-position_3" data-content-target="/the-gioi/vua-charles-iii-bat-dau-duoc-in-hinh-tren-dong-bang-anh-tu-nam-2024-20220927210750789.htm">
                <div class="article-thumb">
                    <a href="/the-gioi/vua-charles-iii-bat-dau-duoc-in-hinh-tren-dong-bang-anh-tu-nam-2024-20220927210750789.htm">
                        <img loading="lazy" width="90" height="60" alt="Vua Charles III bắt đầu được in hình trên đồng bảng Anh từ năm 2024" data-src="https://icdn.dantri.com.vn/zoom/90_60/2022/09/27/charles-crop-1664287358179.jpeg" data-srcset="https://icdn.dantri.com.vn/zoom/90_60/2022/09/27/charles-crop-1664287358179.jpeg 1x, https://icdn.dantri.com.vn/zoom/180_120/2022/09/27/charles-crop-1664287358179.jpeg 2x" src="https://icdn.dantri.com.vn/zoom/90_60/2022/09/27/charles-crop-1664287358179.jpeg" data-ll-status="loaded" class="entered loaded" srcset="https://icdn.dantri.com.vn/zoom/90_60/2022/09/27/charles-crop-1664287358179.jpeg 1x, https://icdn.dantri.com.vn/zoom/180_120/2022/09/27/charles-crop-1664287358179.jpeg 2x">
                    </a>
                </div>
                <h3 class="article-title">
                    <a href="/the-gioi/vua-charles-iii-bat-dau-duoc-in-hinh-tren-dong-bang-anh-tu-nam-2024-20220927210750789.htm">Vua Charles III bắt đầu được in hình trên đồng bảng Anh từ năm 2024</a>
                </h3>
            </article>
            <article class="article-item" data-content-name="home-category_36" data-content-piece="home-category_36-position_4" data-content-target="/the-gioi/nga-len-tieng-ve-kha-nang-dam-phan-cham-dut-xung-dot-voi-ukraine-20220927200910250.htm">
                <div class="article-thumb">
                    <a href="/the-gioi/nga-len-tieng-ve-kha-nang-dam-phan-cham-dut-xung-dot-voi-ukraine-20220927200910250.htm">
                        <img loading="lazy" width="90" height="60" alt="Nga lên tiếng về khả năng đàm phán chấm dứt xung đột với Ukraine" data-src="https://icdn.dantri.com.vn/zoom/90_60/2022/03/29/kremlin3reuters-crop-1648539768024.jpeg" data-srcset="https://icdn.dantri.com.vn/zoom/90_60/2022/03/29/kremlin3reuters-crop-1648539768024.jpeg 1x, https://icdn.dantri.com.vn/zoom/180_120/2022/03/29/kremlin3reuters-crop-1648539768024.jpeg 2x" src="https://icdn.dantri.com.vn/zoom/90_60/2022/03/29/kremlin3reuters-crop-1648539768024.jpeg" data-ll-status="loaded" class="entered loaded" srcset="https://icdn.dantri.com.vn/zoom/90_60/2022/03/29/kremlin3reuters-crop-1648539768024.jpeg 1x, https://icdn.dantri.com.vn/zoom/180_120/2022/03/29/kremlin3reuters-crop-1648539768024.jpeg 2x">
                    </a>
                </div>
                <h3 class="article-title">
                    <a href="/the-gioi/nga-len-tieng-ve-kha-nang-dam-phan-cham-dut-xung-dot-voi-ukraine-20220927200910250.htm">Nga lên tiếng về khả năng đàm phán chấm dứt xung đột với Ukraine</a>
                </h3>
            </article>
            <article class="article-item" data-content-name="home-category_36" data-content-piece="home-category_36-position_5" data-content-target="/the-gioi/trung-quoc-chuan-bi-dua-tau-do-bo-truc-thang-moi-vao-bien-che-20220927175434200.htm">
                <div class="article-thumb">
                    <a href="/the-gioi/trung-quoc-chuan-bi-dua-tau-do-bo-truc-thang-moi-vao-bien-che-20220927175434200.htm">
                        <img loading="lazy" width="90" height="60" alt="Trung Quốc chuẩn bị đưa tàu đổ bộ trực thăng mới vào biên chế" data-src="https://icdn.dantri.com.vn/zoom/90_60/2022/09/27/trung-quoc-chuan-bi-dua-tau-do-bo-truc-thang-moi-vao-bien-che-crop-1664275732597.jpeg" data-srcset="https://icdn.dantri.com.vn/zoom/90_60/2022/09/27/trung-quoc-chuan-bi-dua-tau-do-bo-truc-thang-moi-vao-bien-che-crop-1664275732597.jpeg 1x, https://icdn.dantri.com.vn/zoom/180_120/2022/09/27/trung-quoc-chuan-bi-dua-tau-do-bo-truc-thang-moi-vao-bien-che-crop-1664275732597.jpeg 2x" src="https://icdn.dantri.com.vn/zoom/90_60/2022/09/27/trung-quoc-chuan-bi-dua-tau-do-bo-truc-thang-moi-vao-bien-che-crop-1664275732597.jpeg" data-ll-status="loaded" class="entered loaded" srcset="https://icdn.dantri.com.vn/zoom/90_60/2022/09/27/trung-quoc-chuan-bi-dua-tau-do-bo-truc-thang-moi-vao-bien-che-crop-1664275732597.jpeg 1x, https://icdn.dantri.com.vn/zoom/180_120/2022/09/27/trung-quoc-chuan-bi-dua-tau-do-bo-truc-thang-moi-vao-bien-che-crop-1664275732597.jpeg 2x">
                    </a>
                </div>
                <h3 class="article-title">
                    <a href="/the-gioi/trung-quoc-chuan-bi-dua-tau-do-bo-truc-thang-moi-vao-bien-che-20220927175434200.htm">Trung Quốc chuẩn bị đưa tàu đổ bộ trực thăng mới vào biên chế</a>
                </h3>
            </article>
        </div>
    </div>
</div>
</div>